/******************************************
*  Author : Leandro Ferreira Netto 
*  Created On : Sun Nov 17 2019
*  File : style.css
*******************************************/

body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #298a08;
}

.quem-somos {
    background-color: blueviolet;
    color: white;
}

.margin{

    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background: yellowgreen;
}

.bg-footer{
    background-color: black;
    color: white;
}